@{
    ViewData["Title"] = "Delete Confirmed";
}

<h2>Delete Confirmed</h2>

<p>Produk telah berhasil dihapus.</p>

<div>
    <a asp-controller="Product" asp-action="ListProducts" class="btn btn-primary">Back to Products</a>
</div>
